<h1>
  Login
</h1>

<form action="/api/users/login" method="POST">
  <br />
  <label for="email">Email</label>
  <br />
  <input type="email" id="email" name="email" placeholder="Email" />

  <br />
  <label for="password">Password</label>
  <br />
  <input type="password" id="password" name="password" placeholder="Password" />

  <br />
  <button type="submit">Submit</button>
</form>


<h2>
  Login with Github
</h2>

<button type="button" onclick="location.href='/api/users/github/callback'">Github</button>

<h2>
  Go to register
</h2>

<button type="button" onclick="location.href='/register'">Register</button>