<h1>
  Form Register
</h1>

<form action="/api/users/register" method="POST">
  <input type="text" name="first_name" id="first_name" placeholder="First Name" />
  <input type="text" name="last_name" id="last_name" placeholder="Last Name" />
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="number" name="age" id="age" placeholder="Age" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="submit" value="Register" />
</form>

<h2>Register with Github</h2>
<button type="button" onclick="location.href='/api/users/github'">Github</button>

<h2>Go to login</h2>
<button type="button" onclick="location.href='/login'">Login</button>