{{#if products.length}}
<h2>Lista de productos</h2>
<ul>
    {{#each products}}
    <li>#id: {{id}}</li>
    <li>Producto: {{title}}</li>
    <li>Precio: ${{price}}</li>
    <hr />
    {{/each}}
</ul>
{{else}}
<h2>NO HAY PRODUCTOS REGISTRADO</h2>

{{/if}}