

<div>

    <h1>Carrito</h1>
    {{#each products}}
        <div>
            <h1>{{title}}</h1>
            <h2>{{description}}</h2>
            <h3>${{price}}</h3>
            <h4>{{stock}}</h4>
        </div>
    {{/each}}

</div>